@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Satisfy&display=swap');

body {
    background:hsl(70, 31%, 85%); 
    text-align:center; 
    padding-top: 15vh;
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    background-color: #FDBE14;
    border-radius: 50px;
    color: #000000;
}

.card-title {
    font-family: "Rammetto One", monospace;
    font-size: 10vw;
}


.card-content {
    text-align: center;
    padding-top: 40vw;
    padding-bottom: 2vh;
}

.card-text {
    font-family: "Satisfy", Verdana, sans-serif;
    font-size: 7vw;
}

.birthday-cake-image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 13vh;
    left: 0;
    right: 0;
    text-align: center;
    width: 45%;
    height: auto;
}

.balloon.first,
.balloon.second,
.balloon.third,
.balloon.fourth,
.balloon.fifth {
    position: absolute;
    top: 3vh;
    margin-left: auto;
    margin-right: auto;
}


.balloon.first {
    left: 0;
    right: 75vw;
}

.balloon.second {
    left: 70vw;
    right: 0;
}

.balloon.third {
    left: 40vw;
    right: 0;
}

.balloon.fourth {
    left: 0;
    right: -13vw;
}

.balloon.fifth {
    left: 0;
    right: 44vw;
}

.balloon {
  display:inline-block;
   width:90px;
  height:100px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:104px;
  position:absolute;
  height:250px;
  width:1px;
  margin:0 auto;
  content:"";
  background:rgba(0,0,0,0.2); 
}

.balloon:nth-child(2){ background:hsl(214, 92%, 64%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(207, 72%, 50%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(4, 87%, 49%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(0, 97%, 29%);  }

.balloon:nth-child(5){ background:hsl(23, 98%, 51%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23, 99%, 32%);  }

