@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: hsl(70, 31%, 85%);
  text-align: center;

  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: clamp(350px, 90%, 600px);
}

.card {
  background-color: #fdbe14;
  border-radius: 50px;
  color: #000000;
  padding: 40px;
}

.card__title {
  font-family: "Rammetto One", monospace;
  font-size: clamp(3.5rem, 12vw, 5rem);
}

.card__content {
  text-align: center;
}

.card__text {
  font-family: "Satisfy", Verdana, sans-serif;
  font-size: clamp(4rem, 10vw, 3.5rem);
  color: #000000;
}

.card__image {
  width: clamp(220px, 100%, 450px);
  margin: 0 auto;
}

.balloon {
  display: inline-block;
  width: 90px;
  height: 100px;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;

  position: absolute;
  top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 2rem;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 104px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}
